<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.wujy.dt.unit.noStoryboardBaseApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.wujy.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view. </string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Project</key>
	<dict>
	    <key>SharedSettings</key>
	    <dict>
	        <key>IPHONEOS_DEPLOYMENT_TARGET</key>
	        <string>8.0</string>
	    </dict>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>AppDelegate.h</string>
						<string>AppDelegate.m</string>
						<string>ViewController.h</string>
						<string>ViewController.m</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>AppDelegate.m</key>
						<dict>
							<key>Path</key>
							<string>code/objc/AppDelegate.m</string>
						</dict>
						<key>AppDelegate.h</key>
						<dict>
							<key>Path</key>
							<string>code/objc/AppDelegate.h</string>
						</dict>
						<key>ViewController.m</key>
						<dict>
							<key>Path</key>
							<string>code/objc/ViewController.m</string>
						</dict>
						<key>ViewController.h</key>
						<dict>
							<key>Path</key>
							<string>code/objc/ViewController.h</string>
						</dict>
					</dict>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>AppDelegate.swift</string>
						<string>ViewController.swift</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>AppDelegate.swift</key>
						<dict>
							<key>Path</key>
							<string>code/swift/AppDelegate.swift</string>
						</dict>
						<key>ViewController.swift</key>
						<dict>
							<key>Path</key>
							<string>code/swift/ViewController.swift</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
